<mat-card class='card-section'>
    <mat-card-title>Sign-in with Microsoft Azure AD B2C</mat-card-title>
    <mat-card-subtitle>Getting an access token with Azure AD B2C and calling a Web API</mat-card-subtitle>
    <mat-card-content>This simple sample demonstrates how to use the Microsoft Authentication Library for JavaScript (msal.js) to get an access token and call an API secured by Azure AD B2C.</mat-card-content>
    <mat-card-actions>
      <a mat-raised-button [routerLink]="['profile']">Call API</a>
    </mat-card-actions>
  </mat-card>

  